# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.venv/
env/

# Dataset
chest_xray/

# Trained models
*.keras
*.h5
results/

# System files
.DS_Store

# IDE files
.vscode/
.idea/

# Logs
*.log