# Python
__pycache__/
*.pyc
*.pyo

# macOS
.DS_Store

# Environments
venv/
.venv/
env/
pneumo-env/

# Dataset
chest_xray/
data/

# Federated copied client data
federated_learning/clients_data/
federated_learning/predict_federated.py
federated_learning/clients_data/
federated_learning/clients_data_non_iid/
# Trained models
*.keras
*.h5
*.hdf5

# Large generated outputs
results/

# IDE
.vscode/
.idea/

# Logs
*.log